<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.counterapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Zıplayan Sayaç"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CounterApp">

        <!-- Sayaç ekranı -->
        <activity android:name=".CounterActivity" />

        <!-- Ana menü ekranı (Sayaç butonlu giriş ekranı) -->
        <activity android:name=".MainActivity" />

        <!-- Splash ekranı: ilk açılan ekran -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>

